{% extends 'base.html' %}
{% block title %} ログイン画面 {% endblock %}

{% block content %}
  <section>
    <h1>ログイン画面</h1>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_username" class="form-label">ユーザー名</label><br>
        {{ form.username}}
      </div>
      <div class="mb-3">
        <label for="id_password" class="form-label">パスワード</label><br>
        {{ form.password}}
      </div>
      <button type="submit" class="btn btn-primary">ログイン</button>
    </form>
  </section>
{% endblock %}
